[submodule "template-gendloopAction"]
	path = template-gendloopAction
	url = https://github.com/gendloop/template-gendloopAction
	branch = main
[submodule "template-gendloopApp"]
	path = template-gendloopApp
	url = https://github.com/gendloop/template-gendloopApp
	branch = main
[submodule "template-gendloopAppInstaller"]
	path = template-gendloopAppInstaller
	url = https://github.com/gendloop/template-gendloopAppInstaller
	branch = main
[submodule "template-gendloopSubmodules"]
	path = template-gendloopSubmodules
	url = https://github.com/gendloop/template-gendloopSubmodules
	branch = main
[submodule "template-gendloopAppInstallerV"]
	path = template-gendloopAppInstallerV
	url = https://github.com/gendloop/template-gendloopAppInstallerV
	branch = main
[submodule "template-gendloopAppV"]
	path = template-gendloopAppV
	url = https://github.com/gendloop/template-gendloopAppV
	branch = main
